
.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.gamescreen {
    width: 800px;
    height: 600px;
}

.layout {
    position: absolute;
}

.top {
    position: absolute;
    top: 0;
}

.left {
    position: absolute;
    left: 0;
}

.center {
    position: absolute;
    left: 50%;
}

.top.center {
    width: 100%;
    display: flex;
    justify-content: center;
    left: unset;
}

.right {
    position: absolute;
    right: 0;
}

.middle {
    position: absolute;
    top: 50%;
}

.bottom {
    position: absolute;
    bottom: 0;
}

#black-bg {
    background-color: black;
}
