#gameover-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

#gameover {
  background-image:       url('../../../assets/GameOver.png');
  background-size:        contain;
  background-position:    center;
  background-repeat:      no-repeat;
  height:                 100%;
  width:                  500px;
  margin-left:            auto;
  margin-right:           auto;
}

div.slide-up {
  overflow: hidden;
  position: relative;
  height: 600px;
}

div.slide-up div {
  animation: 4s slide-up;
  margin-top: -10%;
}

@keyframes slide-up {
  from {
    margin-top: 90%;
    height: 120%; 
  }

  to {
    margin-top: -10%;
    height: 100%;
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
