
#devscreen {
    width: 350px;
    max-height: 500px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    right: 50px;
    padding: 10px;
    display: flex;
    flex-direction:column;
}

#header {
    width: 100%;
    height: 2em;
}

#close-x {
    color: white;
}

.scrollable {
    overflow: scroll;
    height: 200px;
}

.links {
    display: flex;
    width: 100%;
    height: 2em;
}

select {
    width: 100%;
}

i {
    color: inherit;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    cursor: pointer;
}

i:active {
    color: inherit;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

i:hover {
    color: inherit;
    -webkit-filter: invert(50%);
    filter: invert(50%);
}

.title {
    display: block;
    cursor: pointer;
}