@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.flex {
  display: flex;
}

.flex.rows {
  flex-direction: column;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.hidden {
  display: none;
}

.p-1 {
  padding: 1em;
}
